# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/
env.bak/
venv.bak/
vectorstore/
chroma/
*.sqlite3
uploads/

# Data & Cache RAG (Ignorer les fichiers lourds, garder la structure)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/vectors/*
!data/vectors/.gitkeep

# Node / Frontend
node_modules/
dist/
build/
.next/
out/
.nuxt/
.vuepress/
.serverless/
.npm
.eslintcache
.stylelintcache
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
